<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:application.properties"/>
	
	<context:component-scan base-package="com.yuhi"/>
	
	<bean class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="location" value="classpath:spring-jasper.xml"/>
		<property name="order" value="0"/>
	</bean>
	
	<!-- dataSource配置 -->  
    <bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
        <property name="driver" value="${jdbc.driver}" />
        <property name="driverUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="minimumConnectionCount" value="${jdbc.minConnection}" />
        <property name="maximumConnectionCount" value="${jdbc.maxConnection}" />
        <!-- <property name="maximumConnectionLifetime" value="${jdbc.maxConnectionLife}" /> -->
        <property name="maximumActiveTime" value="${jdbc.maxActiveTime}" />
        <property name="prototypeCount" value="${jdbc.prototypeCount}" />
        <property name="houseKeepingTestSql" value="${jdbc.testSql}" />
    </bean>
    
    <!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 注解方式配置事物 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- 注解解析 -->
	<context:annotation-config />
	
	<!-- 动态代理 -->
	<aop:aspectj-autoproxy/>
</beans>